body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px;
}

.section {
    height: 750px;
    width: 100%;
    
}

.section-footer {
    height: 250px;
    width: 100%;
    background-color: black;
}

.flexible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 100%;
}

#section1-div1 {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
}

#section1-div1:hover {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.common-width {
    width: 60%;
    text-align: center;
}

span {
    color: orange;
}

#section1-h1 {
    color: white;
    font-size: 65px;
    font-weight: bold;
    line-height: 79px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#section1-paragraph {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: 30px;
}

.button {
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #FF5959;
    font-weight: 400px;
    font-size: 24px;
    color: white;
}

.common-heading {
    font-size: 45px;
    font-weight: bolder;
    line-height: 54.46px;
    font-style: normal;
    color: #121212;
}

.common-paragraph {
    text-align: center;
    font-size: 18px;
    color: #707070;
    font-weight: 400px;
}

.section2 {
    background-color: white;
}

.section2-h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}

#sction2-paragraph {
    margin-top: -20px;
    margin-bottom: 50px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list li {
    padding: 40px 10px;
    margin: 30px 10px;
    list-style: none;
    text-align: center;
    background-color: whitesmoke;
    font-size: 45px;
    font-weight: bolder;
    line-height: 54.46px;
    font-style: normal;
    color: #707070;
    border-radius: 10px;
}

#list-iteam2 {
    background-color: rgb(239, 218, 218);
    border: red 3px solid;
    color: red;
}

.input-class {
    border-style: none;
    border-bottom: #707070 1px solid;
    margin: 50px auto;
    font-size: 18px;
    height: 50px;
    ;
}

#card{
    display: flex;
    width: 80%;
    padding-top: 10px;
}

.card-iteam{
    margin: 20px 15px;
    padding: 30px 20px;
    box-shadow: 1px solid gray;
    border-radius: 5px;
}

#card-1{
    background-color: rgba(79, 157, 166, 0.1);   
}

#card-2{
    background-color:rgba(255, 89, 89, 0.1);   
}

#card-3{
    background-color: #FFF4D6;   
}

.card-iteam h3{
    font-size: 24px;
    color: #121212;
    font-weight: 700px;
}

.card-iteam p{
    font-size: 18px;
    color: #707070;
    font-weight: 400px;
}

#company-heading{
    color: #121212;
}

#company-heading:hover{
    color:#FF5959;
}

.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.logo img{
    margin: 20px 30px;
    padding: 20px 40px;
}

#email-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #FFF4D6;
    width: 100%;
    margin-top: 50px;
}

#email-div input{
    height: 40px;
    border-radius: none;
    width: 40%;
}

#email-div button{
    background-color: #FF5959;
    height: 47px;
    border-radius: none;
    text-align: center;
    padding: 0px 30px;
    color: #FFF4D6;
    font-weight: bolder;
}

#email-part-id{
    margin-top: -100px;
}